*{
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 41, 63);
}



main {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(222, 223, 224);
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100px;
    max-height: 100px;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: clamp(2rem, 2vw + 1rem, 3.5rem);
    color: rgb(189, 146, 3);
}

#errorMessage {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: red;
}

button, input, select {
    border:none;
    border-radius: 2px;
    height: 30px;
}

input:focus, select:focus {
    border: 2px solid rgb(189, 146, 3);
    outline: none;

}

#search {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px auto 20px auto;
    justify-content: center;
    align-items: center;
}

#searchBtn {
    width: 20%;
    height: 30px;
    font-size: medium;
    border: 2px solid rgb(189, 146, 3);
    transition-duration: 0.2s;
}
#searchBtn:hover {
    background-color:  rgb(189, 146, 3);
    color:white;
    font-weight: 600;
}

#yearInput {
    max-width: 4em;
}

#categoryContainer {
    max-width: 200px;
}


  #result {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 3%;
    border-radius: 2px;
    display: none;
  }

  #result.show {
    display: block;
}


  .laureate {
    border-bottom: 1.6px solid lightgrey;
    margin-bottom: 10px;
  }

  .yearAndCategory {
    display: flex;
    gap: 2em;
    font-weight: 600;
    font-size: 1.1em;
    margin: 25px 0 10px 0;
  }

  .laureateName {
    color: rgb(189, 146, 3);
    font-size: clamp(1.3em, 3vw, 1.5em); 
    font-weight: 800;
    padding: 0 2px;
    margin: 0;
    text-decoration: none;
    border-radius: 2px;
  }

  .laureateName:hover {
    background-color: rgb(189, 146, 3);
    color: white;
  }

  .motive {
    color: rgb(139, 140, 140);
    margin-top: 0;
  }

.foundedDetail,
.birthInfo,
.deathInfo,
.prizePortion {
    margin: 5px 0;
}

.birthInfo,
.foundedTime {
    margin-top: 10px;
}

.extraInfo {
    margin-bottom: -6px;
    display: none;
}

.show {
    display: block;
}